<div class="container-fluid mt-5 mb-5">
    <div class="row">
        <div class="col-12">
            <h2>Edit Menu Item</h2><br>
        </div>
    </div>
    <div class="row ml-auto mr-auto" *ngIf="productEdited">
        <div class="alert alert-success col-12">
            Menu Item details saved successfully.
        </div>
    </div>
    <form [formGroup]="editForm" (submit)="onSubmitEditForm()" *ngIf="!productEdited">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="itemname">Item Name</label>
                    <input type="text" name="item" id="itemname" class="form-control" formControlName="itemName">
                    <small class="text-danger"
                        *ngIf="editForm.get('itemName').touched && editForm.get('itemName').hasError('required')">Item
                        Name is required</small>
                    <small class="text-danger"
                        *ngIf="editForm.get('itemName').touched && editForm.get('itemName').hasError('maxlength')">Item Name
                        cannot exceed 20 characters</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12 col-md-3">
                <label for="price">Price</label>
                <input type="text" name="price" id="price" class="form-control" formControlName="price">
                <small class="text-danger"
                    *ngIf="editForm.get('price').touched && editForm.get('price').hasError('required')">Price is
                    required</small>
                <small class="text-danger"
                    *ngIf="editForm.get('price').touched && editForm.get('price').hasError('pattern')">Price
                    should be a number</small>
            </div>
            <div class="form-group col-12 col-md-3">
                <label for="dateOfLaunch">Date Of Launch</label>
                <input type="date" name="dateOfLaunch" id="dateOfLaunch" class="form-control"
                    formControlName="dateOfLaunch">
                <small class="text-danger"
                    *ngIf="editForm.get('dateOfLaunch').touched && editForm.get('dateOfLaunch').hasError('required')">Date
                    Of Launch is required</small>
            </div>

            <div class="form-group col-12 col-md-3">
                <label for="category">Category</label>
                <select class="form-control" formControlName="category">
                    <option [value]="category" *ngFor="let category of categories">{{category}}</option>
                </select>
            </div>
            <div class="form-group col-12 col-md-3">
                <label for="active">Active</label>
                <div>
                    <label for="active"><input type="radio" formControlName="isActive" name="isActive" id="active"
                            [value]="true">Yes</label>
                    <label for="active"><input type="radio" formControlName="isActive" name="isActive" id="active"
                            [value]="false">No</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="checkbox" name="freeDelivery" id="freeDelivery" formControlName="freeDelivery">
            <label for="freeDelivery">Free Delivery</label>
        </div>
        <button type="submit" class="btn btn-danger" [disabled]="!editForm.valid">Save</button>
    </form>
</div>