<nav class="navbar navbar-expand-sm navbar-dark bg-danger">
  <a href="#" class="navbar-brand">
    <i class="material-icons">
      local_dining
    </i>
    truYum
  </a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navcontent">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navcontent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a routerLink="menu" class="nav-link">Menu</a>
      </li>
      <li class="nav-item" *ngIf="!isAuthenticated()">
        <a routerLink="signup" class="nav-link">SignUp</a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated() && !isAdmin()">
        <a routerLink="cart" class="nav-link">Cart</a>
      </li>
      <li class="nav-item" *ngIf="!isAuthenticated()">
        <a routerLink="login" class="nav-link">Login</a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated()">
        <a class="nav-link"><i class="material-icons">person</i>{{getUser()}}</a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated()">
        <a routerLink="login" class="nav-link" (click)="onSignOut()">Log Out</a>
      </li>
    </ul>
  </div>
</nav>